<!DOCTYPE html>
<html>

<head>
  <title>Список пользователей</title>
  <meta charset="utf-8">
  <script data-require="vue.js@*" data-semver="10.0.26" src="https://vuejs.org/js/vue.js"></script>
  <script src="https://unpkg.com/v-tooltip"></script>
  <script src="https://cdn.jsdelivr.net/npm/v-copy/dist/v-copy.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./styles/style.css" />
  <link rel="stylesheet" href="./styles/tooltip.css" />
</head>

<body>
  <div class="container">
    <div id="app">
      <h1>Список пользователей</h1>
      <div v-if="!users.length" class="alert alert-warning">
        Загрузка...
      </div>
      <user-list v-else v-bind:users="users"></user-list>
    </div>
  </div>

  <template id="userList">
    <div>
      <div class="tableControls">
        <button 
          class="btn btn-secondary" 
          @click="toggleUserList" 
          v-tooltip="toggleButtonTooltip"
        >
          {{ toggleButtonText }}
        </button>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <template v-for="n in countFieldsOfUserVisible">
              <template v-if="isUserFieldByIndex(n)">
                <th class="text-uppercase">
                  {{ userFields[n - 1] }}
                </th>
              </template>
            </template>
            <th></th>
          </tr>
        </thead>
        <tbody v-if="isVisibleUserList">
          <tr v-for="user in users" :key="user.id">
            <template v-for="n in countFieldsOfUserVisible">
              <template v-if="isUserFieldByIndex(n)">
                <td v-html="getContentByFieldIndexAndUser(n - 1, user)"></td>
              </template>
            </template>
            <td>
              <a :href="getUserLink(user.id)" target="_blank">Редактировать</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>
</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./scripts/app.js"></script>

</html>