<!DOCTYPE html>
<html>

<head>
  <script data-require="vue.js@*" data-semver="10.0.26" src="https://vuejs.org/js/vue.js"></script>
  <script src="https://unpkg.com/v-tooltip"></script>
  <script src="https://cdn.jsdelivr.net/npm/v-copy/dist/v-copy.js"></script>
  <link rel="stylesheet" href="./styles/style.css" />
  <link rel="stylesheet" href="./styles/tooltip.css" />
</head>

<body>
  <div id="app">
    <user-list :users="users"></user-list>
  </div>

  <template id="userList">
    <div>
      <h1>{{ title }} {{ countUsersText }}</h1>
      <div class="tableControls">
        <button @click="toggleUserList" v-tooltip="toggleButtonTooltip">{{ toggleButtonText }}</button>
      </div>
      <table class="users">
        <thead>
          <tr>
            <th class="text-center">
              ID
              </th">
            <th class="text-center">
              Фото
            </th>
            <th>
              Имя
            </th>
            <th>
              Фамилия
            </th>
            <th>
              Отчество
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody v-if="isVisibleUserList">
          <tr v-for="user in users" :key="user.id">
            <td class="text-center">
              {{ user.id }}
            </td>
            <td class="text-center">
              <img :src="getUserPhotoURL(user.id)" class="avatar" :alt="getUserFullName(user.id)" />
            </td>
            <td>
              {{ user.surname | uppercase }}
            </td>
            <td>
              {{ user.name }}
            </td>
            <td>
              {{ user.patronymic }}
            </td>
            <td class="text-center">
              <button v-copy="getUserFullName(user.id)">
                Копировать
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>
</body>


<!-- <script src="./scripts/userList.js"></script> -->
<script src="./scripts/app.js"></script>

</html>